{%extend "base.html"%}

{% block content %}
<form>
    <imput type="text" name="titulo-tarefa"
    id= "titulo-tarefa" placeholder="titulo-tarefa"
    required>
   <imput  type="text" name="data-conclusao"
   id="data-conclusao">
   <button type="submit">Adicionar</button>


 </form>

 <h2 class="mt-3">Lista de Tarefas</h2>

{% if tarefas %}

<ul>
  {% for tarefa in tarefas %}
    <li>{{tarefa.titulo_tarefa}} - {{tarefa.data_conclusao }}</li>
    {% endfor %}
</ul>

{% else %}

{% endif %}

{% endblock %}

{%endblock%}

<!---
get -> "pega" (recupera/obtém) as informações()
POST -> "envia" (cadastra/inclui/adiciona) as informações
UPDATE/PATCH -> "atualiza" as informações (UPDATE)
delete -> "apaga" as informações (delete)

Crud 
-->